<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand fw-bold" routerLink="/">🛍️ Tienda de Ropa</a>
    <div class="navbar-nav flex-row gap-3 ms-auto">
      <a class="nav-link text-white" routerLink="/productos" routerLinkActive="fw-bold">Productos</a>
      <a class="nav-link text-white" routerLink="/clientes"  routerLinkActive="fw-bold">Clientes</a>
      <a class="nav-link text-white" routerLink="/carritos"  routerLinkActive="fw-bold">Carritos</a>
      <a class="nav-link text-white" routerLink="/compras"   routerLinkActive="fw-bold">Compras</a>
    </div>
  </div>
</nav>